data:
  Corefile: |
    .:53 {
        errors
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
        }
        prometheus :9153
        {{- if gt (len $.Dns.Forwarders) 0 }}
        forward .{{ range $i, $server := .Dns.Forwarders }} {{ $server }}{{ end }} {
          prefer_udp
        }
        {{- else }}
        forward . /etc/resolv.conf
        {{- end }}
        cache 30
        loop
        reload
        loadbalance
    }