---
infra:
  clusterName: {{ $.ClusterName }}
cloudControllerManager:
  clusterCIDR: {{ $.PodsCidr }}
  # "false" for Azure CNI and "true" for other network plugins
  configureCloudRoutes: true
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
  imageName: azure-cloud-controller-manager
  #imageTag: v1.32.0
  replicas: 2
cloudNodeManager:
  imageRepository: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes
  imageName: azure-cloud-node-manager
  #imageTag: v1.32.0
  healthProbeProxyImage: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes/azure-health-probe-proxy:v1.29.0
  healthProbeProxyImageWindows: {{ if $.Private }}{{ $.KeosRegUrl }}{{ else }}mcr.microsoft.com{{ end }}/oss/kubernetes/azure-health-probe-proxy:v1.29.0
